body{
    background-color: antiquewhite;
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1{
            margin: 20px 10px;
            font-size: 50px;
        }
        button{
            position: fixed;
            right: 0;
            height: 50px;
            width: 50px;
            margin: 20px;
            background-color: rgb(54, 107, 199);
            border-radius: 50%;
            border-style: solid;
            color: white;
            box-sizing: border-box;
            padding: 5px 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            img{
                width: 100%;
            }
        }
    }
    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        article{
            box-shadow: 5px 5px 25px grey;
            height: auto;
            border-style: solid;
            background-color: white;
            width: 300px;
            overflow: hidden;
            border-radius: 20px;
            margin: 10px;
            .image{
                width: 100%;
                height: 100px;
                background-size: cover;
                background-position-x: left;
                background-position-y: top;
            }
            h2{
                margin: 10px;
            }
            ul{
                display: flex;
                padding: 0;
                margin: 5px;
                li{
                    list-style: none;
                    margin: 0px 5px;
                    padding: 3px 5px;
                    background-color: lightgray;
                    border-radius: 5px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
            .buy-now{
                margin-top: auto;
                border-style: solid;
                border-width: 1px;
                border-right: 0;
                border-left: 0;
                border-bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    margin: 10px;
                }
                button{
                    margin: 10px;
                    background-color: rgb(54, 107, 199);
                    border-radius: 25px;
                    border-style: solid;
                    color: white;
                    box-sizing: border-box;
                    padding: 5px 10px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    }
    aside{
        box-shadow: -2px 2px 50px rgba(34, 33, 33, 0.336);
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 250px;
        height: 100%;
        background-color: white;
        position: fixed;
        right: 0;
        top: 0;
        display: none;
        .shopping{
            border-bottom: 1px solid lightgrey;
            display: flex;
            flex-wrap: wrap;
            h3{
                margin: 25px 10px;
                padding: 0;
                height: fit-content;
            }
            button{
                height: 50px;
                width: 50px;
                margin: 10px 10px 10px auto;
                background-color: rgb(54, 107, 199);
                border-radius: 50%;
                border-style: solid;
                color: white;
                box-sizing: border-box;
                padding: 5px 10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                img{
                    width: 100%;
                }
            }
        }
        ul{
            height: 84vh;
            overflow-y: scroll;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            margin-bottom: auto;
            padding: 0;
            li{
                margin: 0 10px 0 10px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .check-out{
            border-top: 1px solid lightgray;
            background-color: white;
            width: 250px;
            display: flex;
            flex-wrap: wrap;
            align-self: flex-end;
            justify-content: end;
            position: fixed;
            bottom: 0;
            p{
                box-sizing: border-box;
                width: 50%;
                padding: 0px 10px;
            }
            .amount{
                text-align: end;
            }
            button{
                margin: 2px;
                width: 80px;
                background-color: rgb(54, 107, 199);
                border-radius: 25px;
                border-style: solid;
                color: white;
                box-sizing: border-box;
                padding: 5px 10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            #cancel{
                background-color: rgba(0, 128, 0, 0);
                color: black;
            }
        }
    }
}