body{
    background-color: antiquewhite;
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            margin: 20px 10px;
            font-size: 50px;
        }
        button{
            height: 50px;
            width: 50px;
            margin: 10px;
            background-color: rgb(54, 107, 199);
            border-radius: 50%;
            border-style: solid;
            color: white;
            box-sizing: border-box;
            padding: 5px 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            img{
                width: 100%;
            }
        }
    }
    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        article{
            box-shadow: 5px 5px 25px grey;
            height: auto;
            border-style: solid;
            background-color: white;
            width: 300px;
            overflow: hidden;
            border-radius: 20px;
            margin: 10px;
            .image{
                width: 100%;
                height: 100px;
                background-size: cover;
                background-position-x: left;
                background-position-y: top;
            }
            h2{
                margin: 10px;
            }
            ul{
                display: flex;
                padding: 0;
                margin: 5px;
                li{
                    list-style: none;
                    margin: 0px 5px;
                    padding: 3px 5px;
                    background-color: lightgray;
                    border-radius: 5px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
            .buy-now{
                margin-top: auto;
                border-style: solid;
                border-width: 1px;
                border-right: 0;
                border-left: 0;
                border-bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    margin: 10px;
                }
                button{
                    margin: 10px;
                    background-color: rgb(54, 107, 199);
                    border-radius: 25px;
                    color: white;
                    box-sizing: border-box;
                    padding: 5px 10px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    }
    aside{
        margin: 0;
        width: 250px;
        height: 100vh;
        background-color: white;
        position: fixed;
        right: 0;
        top: 0;
        // display: none;
        h3{
            float: left;
            margin: 25px 10px;
        }
        button{
            float: right;
            height: 50px;
            width: 50px;
            margin: 10px;
            background-color: rgb(54, 107, 199);
            border-radius: 50%;
            border-style: solid;
            color: white;
            box-sizing: border-box;
            padding: 5px 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            img{
                width: 100%;
            }
        }
    }
}