body {
    background-color: aliceblue;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    header{
        h1{
            margin: 10px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        input{
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            box-sizing: border-box;
            border-radius: 20px;
            width: 100%;
            margin: 25px 0;
            padding: 5px 5px 5px 27px;
        }
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        article{
            display: flex;
            flex-direction: column;
            background-color: white;
            height: auto;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            width: 24%;
            min-width: 250px;
            border-radius: 20px;
            margin: 4px;
            img{
                width: 100%;
                border-radius: 18px 18px 0 0;
            }
            ul{
                padding: 0;
                margin: 2px 10px;
                display: flex;
                li{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 16px;
                    padding: 2px 2px;
                    margin: 0 2px;
                    background-color: lightgrey;
                    list-style-type: none;
                    border-radius: 3px;
                }
            }
            h3{
                margin: 5px 0 5px 10px;
                font-size: 16px*2;
            }
            sub{
                font-size: 18px;
                margin: auto 10px 0px 10px;
            }
            p{
                margin: 0 10px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            hr{
                margin: 0 10px;
            }
            a{
                margin: 10px;
                img{
                    width: 35px;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
   body{
    width: 100%;
    input{
        width: 80%;
        margin: auto;
    }
   } 
}